Data Science Tools and Ecosystem.

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1.NumPy
2.Pandas
3.Matplotlib

Data Science Tools:
               		     |Data Science Tools|
SAS. It is one of those data science tools which are specifically designed for statistical operation		
Apache Spark		
BigML

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
code = compile("5+4","<string>","eval")
eval(code)

9

In [2]:
code1 = compile("(5+7)*2","<string>","eval")
eval(code1)

24

In [3]:
import math
code2=compile("4/3*math.pi*math.pow(25,3)","<string>","eval")
eval(code2)

65449.84694978735

This is a simple arithmetic expression to multiply then add integers.

In [4]:

code3 = compile("(3*4)+5","<string>","eval")
eval(code3)

17

This will convert 200 minutes to hours by dividing by 60

In [5]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

**Objectives**
* Develop a foundational understanding of data science concepts.
* Master essential programming skills
* Gain proficiency in data visualization and analysis

## **Author:**
Pushkala Yellaye